@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");

:root {
  --bg-color: hsl(0, 0%, 7.5%);
  --bg-color-lighter: hsl(0, 0%, 12.5%);
  --bg-nav: hsl(0, 0%, 10%);
  --bg-nav-lighter: hsl(0, 0%, 15%);

  /* colors */
  --white: hsl(0, 0%, 90%);
  --light-salmon: hsl(19, 100%, 77%);
  --light-salmon-transparent: hsla(19, 100%, 77%, 0.7);

  /* Radius */

  --default-radius: 0.75rem;
  --button-radius: 0.5rem;
  --inline-padding: 0.75rem;
  --block-padding: 1rem;

  /* Fonts */

  --playlist-fs-title: calc(1rem + 0.5vw);

  --lato: "Lato", sans-serif;
  --red-hat-text: "Red Hat Text", sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  color: var(--white);
  font-family: var(--lato);
  height: 100%;
}

body {
  background: linear-gradient(280deg, var(--bg-color), var(--bg-color-lighter));
  min-width: 100vw;
  min-height: 100vh;
  position: relative;
}

#root {
  height: 100%;
  width: 100%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  position: fixed;
  inset: 0;
  padding-inline: 1rem;
}

.app__container {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  & main {
    display: flex;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    padding-block-end: 1rem;
    gap: 1rem;
  }
}
