:root {
  --bg-color: hsl(0, 0%, 7.5%);
  --bg-color-lighter: hsl(0, 0%, 12.5%);
  --bg-nav: hsl(0, 0%, 10%);
  --bg-nav-lighter: hsl(0, 0%, 15%);

  /* colors */
  --white: hsl(0, 0%, 90%);
  --light-salmon: rgb(255, 176, 140);
}

* {
  box-sizing: border-box;
}

html {
  color: var(--white);
}

body {
  background: linear-gradient(280deg, var(--bg-color), var(--bg-color-lighter));
  max-width: 100vw;
  max-height: 100vh;
}

#root {
  width: 90%;
  margin-inline: auto;
  margin-block: 2.5rem;
}
